@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;800;900&family=Roboto:wght@300;700&display=swap');

/* main style */

a{
    color: #ffffff; 
    text-decoration: none;
}
 .wrapper{
    width: 1110px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}
.bg::before{
    background: url('../img/css_sprites.png');
}
h1{
font-size: 24px;
line-height: 1.2;
font-weight: 900;
text-transform: uppercase;
letter-spacing: 0.025em;
color: #ffffff;
padding-left: 54px;
position: relative;
}
h1 img{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 36px;
    height: 39px;
}
h2{
font-size: 72px;
font-weight: 900;
text-transform: uppercase;
letter-spacing: 0.015em;
position: relative;

}
h2+p{
    font-family: Roboto;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    position: relative;
}
h3{
    font-family: Raleway;
font-size: 30px;
line-height: 1.2;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.025em;

}
h4{
    font-family: Raleway;
font-size: 24px;
line-height: 1.2;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 0.025em;

}
li a{
    display: block;
 }
 .arrow{
        position: relative;
      padding: 20px;
       border: 3px solid white;
 }
 a.ar_left::before{
    content: '';
    position: absolute;
 left: 50%;
 top: 50%;
 transform: translateY(-50%) translateX(-35%) rotate(45deg);
    width: 20px;
    height: 20px;
    border-bottom: 3px solid white;
    border-left: 3px solid white;
 
 }
 a.a_right::before{
     content: '';
     position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-70%)rotate(-45deg);
     width: 20px;
     height: 20px;
     border-bottom: 3px solid white;
     border-left: none;
     border-right: 3px solid white;
  
  }
/* header */
 header{
    position: relative;
    transform: skewY(-8deg);
    transform-origin: left;
    overflow: hidden;
    background-color: black;
    box-shadow: 0px -12px 14px 23px rgba(0,0,0,1);
    z-index: 5;
    font-family: Raleway;
    color: #ffffff;
 }
header .wrapper{
    padding: 45px 0;
    position: relative;
    z-index: 5; 
}
.skew{
    transform: skewY(8deg);
    transform-origin: left;
   min-height: 720px;
   background: url('../img/background.png')50% no-repeat;

}

 header::before{
    content: "";
    position: absolute;
    width: 72%;
    height: 20px;
    background: #af1c1a;
    bottom: 5%;
   right: -5%;
    transform: skew(45deg)  ;
    z-index: 15;
    box-shadow: -16px 10px 5px 0px rgba(0,0,0,0.75);
 }

 header::after{
    content: "";
    position: absolute; 
    height: 25px;
    background: #af1c1a;
   bottom: 0;
width: 100%;
right: -5%;
transform: skew(45deg);
    z-index: 5;
 }
 .header_content{
    margin: 180px 0 0 0;
 }
 .header_content_fitness{
    width: 300px;
    float: left;
    position: relative;
 }
 .header_content_fitness::before{
    content: '';
    position: absolute;
    width: 383px;
    height: 325px;
    top: 50%;
    left: 55%;
    transform: translate(-50%,-50%);
    background-position: 0 -39px;
 }
 
 .header_content_singup{
    float: right;
    margin-right: 25px;
    position: relative;
 }
 .header_content_singup div{
font-size: 30px;
line-height: 1.2;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 0.025em;
 }
 .header_content_singup a{
    display: inline-block;
text-decoration: none;
    margin: 20px 0 0 0;
 padding: 10px 27px;
background-color: #af1c1a;
font-family: Roboto;
font-size: 16px;
line-height: 1.2;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 0.025em;
 }
 .trapec{
    z-index: 5;
    position: absolute;
    background-color: #af1c1a;
    height: 70px;
    width: 35%;
    bottom: 0;
    left: -5%;
    transform: skew(45deg);
 }
/* "about_us" */
.about_us{
   transform: skewY(-8deg);
   transform-origin: left;
    background: radial-gradient(circle at top left, #1f181a 0%, black 100%);
    padding: 15px 0 100px 0;
    position: relative;
    color: #ffffff;
    font-family: Roboto;
    
}
.about_us h4{
    margin: 0 0 30px 0;
}

.about_us .wrapper{
    transform: skewY(8deg);
    margin-top: -10px;
}

.about_us nav>ul{
    font-size: 0;
    float: right;
}
.about_us nav>ul li{
  display: inline-block;
  margin: 0 0 0 30px;
font-size: 14px;

}
.about_us nav>ul li a{
    line-height: 1.2;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
}
.about_us_content{
    margin: 150px 0 0 0 ;
    display: flex;
    justify-content: space-between;
}
.about_us_content h3{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: center;
    margin-top: -50px;
}
.about_us article {
    width: 445px;
}
.about_us article p {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.025em;

}
.about_us article p+p {
margin: 20px 0 0 0 ;
}
.about_us_photo2{
    margin: 30px 0 0 0;
    display: flex;
    justify-content: space-between;
}


.about_us::after{
    content: '';
    position: absolute;
  left: 0;
  bottom: -1px;
  border-bottom:330px solid #af1c1a;
  border-right: solid transparent;
  border-right-width: calc(100vw - 20px);
}


/* "gallery" */
.gallery{
    transform: skewY(-8deg);
    transform-origin: left;
    background: #af1c1a;
    position: relative;
    font-size: 0;
    z-index: 5;
    color: #ffffff;
    padding-bottom: 300px;
    
}
.gallery .wrapper{
    transform: skewY(8deg);
    transform-origin: left;
   
}
.gallery_main{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: transparent;
}
.gallery_photo2{
    margin: 30px 0 0 0;
    text-align: center;
}
.gallery_photo2 li{
    display: inline-block;
    margin: 0 30px 0 0;
}
.gallery_main img{
    margin: 0 30px;
}
.gallery h3{
    writing-mode: vertical-lr;
    margin: 0 0 0 100px;
}
.gallery::before{
    content: '';
    position: absolute;
  right:0;
 top:calc(100% - 1px);
height: 700px;
width: 100%;
background: #af1c1a;
}
/* "schedule" */
.schedule{
    padding: 50px 0 300px 0;
    position: relative;
    z-index: 10;
    transform: translateY(-1px);
    background: radial-gradient(circle, #1f181a 10%, black 100%); 
     overflow: hidden;
     color: #ffffff;
     font-family: Raleway;
     margin-top: -300px;
}
.schedule_ahead{
    padding: 170px 0 0 0 ;
    position: relative;
    z-index: 5;
    text-align: center;
    font-size: 0;
    
}
.schedule_ahead p{
    font-family: Roboto;
font-size: 30px;
line-height: 1.2;
font-weight: 300;
text-transform: uppercase;
letter-spacing: 0.05em;
}
.schedule_ahead>div{
    position: relative;
    z-index: 5;
}
.schedule_ahead h2{
    font-size: 36px;
    font-weight: 800;

}
.schedule_ahead a{
    cursor: pointer;
    margin: 30px 0 95px;
    padding: 11px 25px;
    background-color: #af1c1a;
    display: inline-block;
    font-family: Roboto;
font-size: 14px;
line-height: 1.2;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 0.025em;
text-decoration: none;
}
.schedule_ahead h3{
font-size: 24px;
line-height: 1.2;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 0.025em;
}
.schedule_ahead::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: url('../img/css_sprites.png') 0 -364px no-repeat;
    height: 400px;
    width: 480px;
    border-bottom: 60px solid #af1c1a;
    box-shadow: -5px 10px 5px 0px rgba(0,0,0,0.75);
}
.schedule_ahead::after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    background: url('../img/css_sprites.png') 0 -764px no-repeat;
    height: 400px;
    width: 480px;
    border-bottom: 60px solid #af1c1a;
    transform: rotateY(180deg);
    box-shadow: -5px 10px 5px 0px rgba(0,0,0,0.75);
}
.schedule .wrapper{
    padding: 40px 0 0 0;
}
.schedule_nav{
    width: 920px;
    margin: 0 auto;
display: flex;
justify-content: space-between;
position: relative;
}
.schedule_nav a{
    font-family: Roboto;
    line-height: 1.2;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
}
.schedule a.active{
    font-weight: 700;
}
.schedule_nav>li{
    padding: 0 0 30px 0;
}
.schedule_nav ul {
    position: absolute;
    left: 0;
    top: 100%;
    display: grid;
    grid-template-columns: 285px 285px;
    pointer-events: none;
}


.schedule_nav ul>li{
    background: #b8b2b2;
    margin: 0 30px 15px 0 ;
    font-family: Roboto;
font-size:0;
font-weight: 700;
color: #000000;
padding: 10px 0 10px 30px;

}
.schedule_nav ul>li span{
  display: inline-block;
  font-size: 30px;

}
.schedule_nav span+span+span{
    font-family: Roboto;
font-size: 18px;
line-height: 1.2;
font-weight: 300;
text-transform: none;
margin: 0 0 0 20px;
}

.schedule_nav .minutes{
    font-size: 15px;
  transform: translateY(-50%);
}


.schedule .wrapper h3{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: center;
}

.calendar_head{
    padding: 30px 60px 30px 30px;
    background-image: linear-gradient(0.0deg, #8f1715 0%, #af1c1a 100%);
 display: flex;
 align-items: center;

}
.calendar_head .circle{
    display: flex;
    justify-content: center;
    align-items: center;
   width: 75px;
   height: 75px;
   border-radius: 50%;
   border: 2px solid white;
   font-family: Roboto;
   font-size: 36px;
line-height: 1.2;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 0.025em;
margin: 0 30px 0 0 ;
}
.calendar_head h2{
font-size: 24px;
line-height: 1.2;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 0.025em;
color: #ffffff;

}
.calendar_head p{
    font-family: Roboto;
font-size: 18px;
line-height: 1.2;
font-weight: 300;
color: #ffffff;
text-transform: none;
}
.look-calendar {
    padding: 30px;
    font-family: Roboto;
font-size: 16px;
line-height: 1.2;
font-weight: 300;
    background-color:#481c1c; margin: 0 auto;
    color: white;
    height: 170px;
  }
 
  #calendar {
    width: 100%;
    text-align: center;
    border-spacing:0px;
  
  }
 
  #calendar thead tr:last-child {
font-weight: 700;
  }
  #calendar thead tr:nth-child(1) td:nth-child(1):hover,
  #calendar thead tr:nth-child(1) td:nth-child(3):hover {
    cursor: pointer;
  }
  #calendar tbody td.today {
    background: #af1c1a;
    position: relative;

  }
  #calendar tbody td.today::before {
    content: '';
   bottom: -1px;
   top: -1px;
   left: 0;
   right: 0;
   background: radial-gradient(circle, transparent 35%, #481c1c 35%);
   position: absolute;

  }
.schedule_content{
    display: flex;
    justify-content: space-between;
}
.schedule::before{
    content: '';
    pointer-events: none;
    position: absolute;
    z-index: 10;
    top: -1px;
    left: 50%;
    transform: translateX(-50%);
    border:100vw solid transparent;
    border-width:100vw;
     border-top: 120px solid #af1c1a;
}
.schedule::after{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    border:100vw solid transparent;
    border-width:100vw;
     border-bottom: 100px solid #af1c1a;
}

/* "price" */
.price{
    margin-top: -2px;
    position: relative;
    z-index: 15;
    transform-origin: left;
    background: #af1c1a;
    color: #ffffff;
   
}
.price .wrapper{
    text-align: center;
}
.price_cards{
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
   
}
.price_cards>div{
    width: 350px;
    background-color: #b8b2b2;
  
}
.card_head{
    height: 90px;
    position: relative;
    background-color: #481c1c;
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 
}
.card_head::before{
    content: '';
    position: absolute;
    transform: rotate(45deg)translateY(-70%);
    width: 20px;
    height: 20px;
    top: 100%;
    left: 10%;
    background: #481c1c;
}
.card_head h4 ,.card_head p{
    font-family: Raleway;
font-size: 24px;
line-height: 1.2;
font-weight: 400;
color: #ffffff;

}
.card_price{
    padding: 30px 0;
    font-family: Roboto;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    color: #000000
}
/* "team" */
.team{
    padding: 300px 0 0 0;
    position: relative;
    z-index: 10;
    transform: translateY(-1px);
    background: radial-gradient(circle, #1f181a 10%, black 100%); 
     overflow: hidden;
     box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
     font-family: Roboto;
     color: #ffffff;
}
.team .wrapper{
    padding: 50px 0 75px 0;
}
.arrows{
    margin: 25px 0 0 0;
    text-align: center;
    font-size: 0;
}
.arrows a{
    display: inline-block;
}
.arrows a+a{
    margin: 0 0 0 220px;
}

.team_content{
   display: flex;
}
.team h3{
    display: inline-block;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
   margin: -20px 75px 0 0;
   text-align: end;
}

.team_article{
    background: linear-gradient(150.0deg, #8f1715 17%, #af1c1a 82%);
    vertical-align: top;
    position: relative;
    z-index: 5;
    padding: 25px;
   
}
.team_article h4{
    margin: 0 0 30px 0;
}
.article_description{
   display: flex;
}

.article_arrows a{
    display: block;
    padding: 7px;
    border: 1px solid white;
    border-radius: 50%;
    position: relative;
}
.article_arrows a::before{
    display: block;
    content:'';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 7px;
    height: 7px;
}
.arrow_top::before{
    border-top: 1px solid white;
    border-left: 1px solid white;
    transform: translate(-50%,-30%) rotate(45deg);
}
.arrow_bottom::before{
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    transform: translate(-50%,-70%) rotate(45deg);
}
.article_arrows{
    align-self: center;
    position: relative;
    background: 
    radial-gradient( 2px at 50% 30%,white 50%, transparent 50%),
    radial-gradient( 2px at 50% 50%, white 50%, transparent 50%),
    radial-gradient( 2px at 50% 70%, white 50%, transparent 50%)
;  
}


.article_description p{
font-size: 16px;
line-height: 1.2;
font-weight: 300;
letter-spacing: 0.005em;
}
.article_arrows a+a{
    margin: 47px 0 0 0 ;
}
.article_description_content{
    width: 430px;
}
.article_description p+p{
    margin: 15px 0;
}
.team_article h5{
font-size: 18px;
line-height: 1.2;
font-weight: 700;
letter-spacing: 0.025em;

}

.team img{
    position: absolute;
    right: 12%;
    bottom: 40%;
}
.team::after{
content: '';
position: absolute;
left: -20%;
top: 0;
width: 125%;
height: 300px;
background: #af1c1a;
transform: rotateZ(-5deg);
transform-origin: left;
box-shadow: -16px 10px 5px 0px rgba(0,0,0,0.75);
}

/* "contact" */
.contact{
    background: url('../img/bg_quest.jpg');
    background-size: cover;
    position: relative;
   z-index: 5;
   font-family: Roboto;
   color: #ffffff;
}

.contact .wrapper {
    text-align: center;
    position: relative;
    width: 530px;
    background:linear-gradient(0.0deg, #8f1715 0%, #af1c1a 100%);
    padding: 80px 100px 20px 100px;
}
.contact h3{
font-size: 30px;
line-height: 1.2;
font-weight: 300;
letter-spacing: 0.01em;

text-transform: none;
}
.contact p{
    font-family: Raleway;
    font-size: 30px;
line-height: 1.2;
font-weight: 800;
text-transform: uppercase;
letter-spacing: 0.05em;

}
.contact form{
    padding: 50px 0 45px 0;
}
.auth{
  display: flex;
  justify-content: space-between;
  margin: 0 0 15px 0;
}
.auth input{
    display: inline-block;
    width: 250px;
    height: 30px;
    border: none;
font-size: 16px;
line-height: 1.2;
font-weight: 300;
font-style: italic;

}
input:focus,textarea:focus{
    outline: none;
}
.contact form textarea{
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300;
    font-style: italic;
    width: 526px;
    border: none;
   height: 75px;
   resize: none;
}

input[type="submit"]{
    cursor: pointer;
    width: 115px;
height: 39px;
border: 2px solid #ffffff;
    background: transparent;
font-size: 14px;
line-height: 1.2;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 0.025em;
color: #fefefe;
margin: 15px 0 0 0;
}
input[type="submit"]:hover{
  background: #481c1c;
}
.main_contacts{
display: flex;
justify-content: space-between;
margin: 0 0 45px 0;
}
.menu_contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.main_contacts li{
    font-size: 0;
}
.main_contacts a{
    text-align: start;
    position: relative;

font-size: 16px;
font-weight: 300;
letter-spacing: 0.01em;
text-decoration: none;
}


.contact h5{
font-size: 16px;
line-height: 1.2;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 0.025em;
margin: 0 0 15px 0;
}
.social{
    position: relative;
    z-index: 15;
    font-size: 0;
}
.social li{
  display: inline-block;
}
.social li>a{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 2px;
   background: url('../img/css_sprites.png');
   background-position:-420px -126px ;
}
.social li+li>a{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 2px;
   background: url('../img/css_sprites.png');
   background-position:-420px -156px ;
}
.social li+li+li>a{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 2px;
   background: url('../img/css_sprites.png');
   background-position:-420px -186px ;
}
.contact .wrapper::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    border-bottom: 80px solid black;
    border-right:400px solid transparent;
}
.contact .wrapper::after{
    content: '';
    position: absolute;
    right:0;
    bottom: -1px;
    border-bottom: 80px solid black;
    border-left:400px solid transparent;
}
.contact::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: black;
}
.menu_contacts li{
    position: relative;
    padding: 0 0 0 57px;
}
.menu_contacts li::before{
content: '';
position: absolute;
left: 0;
top: 50%;
transform: translateY(-50%);
width: 42px;
height: 42px;
background: url('../img/css_sprites.png');
background-position: -420px 0;
}
.menu_contacts li+li::before{
    background-position: -420px -42px;
    }
    .menu_contacts li+li+li::before{
        background-position: -420px -84px;
        }
/* footer */
footer{
    background-color: #000000;
    position: relative;
    pointer-events: none;

}
footer .wrapper{
    padding: 0 0 35px 0;
    text-align: end;
}
footer .wrapper h6{

    font-family: Roboto;
font-size: 12px;
line-height: 1.2;
font-weight: 300;
letter-spacing: 0.025em;
color: #ffffff;
letter-spacing: 0.01em;
margin-top: -35px;
}
